Django==4.2.11
celery==5.5.3
django-celery-beat==2.5.0
redis==6.2.0
psycopg2-binary==2.9.10
sqlparse==0.5.3
asgiref==3.9.1
tzdata==2025.2
click==8.2.1
billiard==4.2.1
kombu==5.5.4
packaging==25.0
python-dateutil==2.9.0.post0
six==1.17.0
vine==5.1.0
wcwidth==0.2.13
prompt_toolkit==3.0.51
